<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/octicons.css">
    <% css.forEach(function (href) { %>
      <link href="<%= href %>" rel="stylesheet">
    <% }) %>
    <style type="text/css">
       #readme, #file-explorer { width: 920px;margin: 0 auto; }
    </style>
  </head>
  <body>
    <% if (dir) { %>
    <div id="file-explorer" class="bubble tree-browser-wrapper">
      <table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
        <tbody class="tree-entries">
          <% dir.dirs.forEach(function (dir) { %>
          <tr>
            <td class="icon"><span class="octicon octicon-file-directory"></span></td>
            <td class="content"><a href="<%= dir.href %>"><%= dir.name %></a></td>
          </tr>
          <% }) %>
          <% dir.md.forEach(function (file) { %>
          <tr>
            <td class="icon"><span class="octicon octicon-file-text"></span></td>
            <td class="content"><a href="<%= file.href %>"><%= file.name %></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>
    <div id="readme">
      <article class="markdown-body entry-content">
        <%- markdown %>
      </article>
    </div>
  </body>
</html>
